aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
appdirs==1.4.4
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
chatgptpy==1.0.8
click==8.1.3
colorama==0.4.6
comtypes==1.1.14
cssselect2==0.7.0
decorator==4.4.2
discord.py==2.2.2
docopt==0.6.2
exceptiongroup==1.1.1
ffmpeg-downloader==0.2.0
frozenlist==1.3.3
google-api-core==2.11.0
google-api-python-client==2.85.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httplib2==0.22.0
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.27.0
imageio-ffmpeg==0.4.8
importlib-metadata==6.4.1
instaloader==4.9.6
lxml==4.9.2
markdownify==0.11.6
MouseInfo==0.1.3
moviepy==1.0.3
multidict==6.0.4
mutagen==1.46.0
numpy==1.24.2
oauth2client==4.1.3
openai==0.27.4
OpenAIAuth==0.3.6
opencv-python==4.7.0.72
outcome==1.2.0
packaging==23.1
Pillow==9.5.0
pipreqs==0.4.13
pocketsphinx==5.0.0
proglog==0.1.10
prompt-toolkit==3.0.38
protobuf==4.22.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pyChatGPT==0.4.3.3
pycparser==2.21
PyDrive==1.3.1
pydub==0.25.1
pyee==8.2.2
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==3.0.9
PyPasser==0.0.5
pyperclip==1.8.2
pypiwin32==223
pyppeteer==1.0.2
PyRect==0.2.0
PyScreeze==0.1.28
PySocks==1.7.1
pysrt==1.1.2
python-dotenv==1.0.0
pyttsx3==2.90
pytube==12.1.3
pytweening==1.0.4
pywin32==306
PyYAML==6.0
regex==2023.3.23
reportlab==3.6.12
requests==2.28.2
revChatGPT==4.2.5
rfc3986==1.5.0
rsa==4.9
selenium==4.8.3
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.4
SpeechRecognition==3.8.1
svglib==1.5.1
tiktoken==0.3.3
tinycss2==1.2.1
tls-client==0.2
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
undetected-chromedriver==3.4.6
unshortenit==0.4.0
uritemplate==4.1.1
urllib3==1.26.15
wcwidth==0.2.6
webencodings==0.5.1
websockets==10.4
wsproto==1.2.0
yarg==0.1.9
yarl==1.8.2
youtube-transcript-api==0.6.0
zipp==3.15.0
